@font-face {
  font-family: 'MyFont';
  src: url('./riffic-bold.ttf'); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'Roboto';
  src: url('./Roboto-Bold.ttf'); /* IE9 Compat Modes */
}

.App {
  text-align: center;
  width: 776px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
}

.headline {
  margin-top: 100px;
  font-family: MyFont;
  font-size: 100px;
}

.take {
  color: #F6849C;
  margin-right: 10px;
}

.my {
  color: #9AECE0;
  margin-right: 10px;
}

.money {
  color: #D6E75A;
}

.sub-headline {
  color: #F6849C;
  font-size: 30px;
  font-family: MyFont;
  margin-top: 50px;
  text-align: left;
}

.why-donate {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  margin-top: 23px;
  width: 776px;
  text-align: left;
  line-height: 20px;
  color: #999999
}