

.pig {
    position: absolute;
    width: 399px;
    height: 403px;
    left: 50%;
    transform: translate(-50%, 0);
}

.coin {
    position: absolute;
    left: -1px;
    top: -100px;
    transition: top 1.2s linear;
}

.move {
    top: 65px;
}

.ear {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

.body {
    position: absolute;
    top: 0;
    left: 0;
}

